<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "About Akhil" %}

<!- This is a replacement block for Body in base.html -->


{% block body %}
    <!- Try building a new body here ->
    <body style="background-color:##808080;"></body>
    <body style="background-size: cover;"></body>
    <div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">

        <div class="col-12">
            <p>Hello, {{input}}!</p>
        </div>
        <div class="col-12">
            <form id="greet" method="POST" action={{link}} >
                <label for="name">Type a greeting name?</label>
                <input name="name" id="name">
                <input type="submit" value="Greetings!">
            </form>
        </div>
        <div class="col-12">
            <img src="/static/assets/PythonFlask.jpeg" style="height: 400px" >
        </div>

    </div>

        <div>
            <font size="+1.5"><font color="black">
                <p>My name is Akhil Nandhakumar. I am 16 years old, and turning 17 on November 1st. I am junior at Del Norte High School.</p>
                <font/></font>
        </div>

        <div>
            <img src="https://github.com/SlimeyTurtles/Rat-Homework/blob/main/static/IMG-20190601-WA0004.jpg?raw=true"alt="Me Playing Tennis, JTT Sectional Finals" width="225" height="300"> <img src="https://github.com/SlimeyTurtles/Rat-Homework/blob/main/static/IMG-20191122-WA0010.jpg?raw=true" alt="playing tennis with my brother" width="400" height="300">
        </div>

        <div>
            <font size="+1.5"
            <p>One of my favorite hobbies is tennis. I play for the Del Norte team, and enjoy playing with my brother. The pictures above are me playing at the California Jr. Team Tennis Sectionals Finals, and hitting with my brother at the local courts in 4s Ranch.</p>
            <p>Some of my other hobbies include playing piano, singing, hiking, and mountain biking. Here are a couple pictures of me and my family below!</p>
            <font/>
        </div>

        <div>
            <img src="https://github.com/SlimeyTurtles/Rat-Homework/blob/main/static/20210811_101949_HDR.jpg?raw=true" width="225" height="300"> <img src="https://github.com/SlimeyTurtles/Rat-Homework/blob/main/static/IMG-20190410-WA0001.jpg?raw=true" width="225" height="300"> <img src="https://github.com/SlimeyTurtles/Rat-Homework/blob/main/static/IMG-20200216-WA0030.jpg?raw=true" width="225" height="300">
        </div>

    </div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}