<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Greet" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">
        <div class="col-12">
            <p>Hello, {{input}}!</p>
        </div>
        <div class="col-12">
            <form id="greet" method="POST" action={{link}} >
                <label for="input">Type a greeting name?</label>
                <input name="input" id="input">
                <input type="submit" value="Greetings!">
            </form>
        </div>
        <div class="col-12">
            <img src="https://github.com/SlimeyTurtles/Rat-Homework/blob/main/static/rat%20gif.gif?raw=true" >
        </div>
    </div>

{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
