

{% set project = "Pair Shair Journal - Valen and Akhil" %}

{% block body %}
    <body>

    <h1>Pair Shair Journal - Valen and Akhil</h1>

    <iframe width="630" height="472"
            src=https://docs.google.com/document/d/10I6YvPmj3kJEx2zUNu701KBxFONUrfeIO5VNaR7ilts/edit?usp=sharing>
    </iframe>


    </body>
{% endblock %}


{% set project = "Pair Shair Journal - Avinh and Calissa" %}

{% block body %}
    <body>

    <h1>Pair Shair Journal - Avinh and Calissa</h1>

    <iframe width="630" height="472"
            src="https://docs.google.com/document/d/1M_jU_NzcbDCb40K4yJio2Le8LXt5a7TuSz09csn4ihg/edit?usp=sharing">
    </iframe>


    </body>
{% endblock %}