<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Brainwrites" %}

{% block body %}

    <div class="center-block" style="margin: 2% 5% 5%";>
    <h1>Project Brainwrite</h1>
         <iframe src="https://docs.google.com/document/d/e/2PACX-1vRpR01o4Uf68yFzXi2sWMCPVjeT6FZ40SM4w4ZNY_qVhryTkFCMpxJAo8kXdz7jFw1a7BTfhbUWoSIJ/pub?embedded=true" width="968" height="569"></iframe>
    <h1>Brainwrite Exercise</h1>
        <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQLWXYIH7s3yNhSCi0Sao_7itGrS9cax-HENWudvNFvFSEvkP-azN6ub5dZ50WN_yUHUTcG2V8jn0CV/embed?start=false&loop=true&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    </div>

{% endblock %}