<!DOCTYPE html>
{% extends "layouts/base.html" %}

<!-- Search for all the Hack: below for hack-a-thon and mini-lab requirements -->
<!-- need to adjust Templates to start -->

<!-- Hack: Build form to drive bit size dynamic updates
           use HTML Input Form in Frontend, ie toward top of Page
           send initial value and updated values to form via Python render_template -->
<!-- Hack: use 8 as default -->
{% set BITS = 8 %}
{% set MAX = ((2 ** BITS) - 1) %}
{% set perRow = 8 %}
{% set ROWS = (BITS/perRow) | round(1, 'floor') | int  %}
{% set REMAINDER = (BITS%8)  %}
<!-- use your PNGs as default -->
{% set imgBulbOn = "/static/img/awake_dog.jpeg" %}
{% set imgBulbOff = "/static/dog sleeping.jpeg" %}
{% set msgTurnOn = "Turn On" %}
{% set msgTurnOff = "Turn Off" %}

{% block body %}
<title>Binary page</title>

<script>
    const BITS = '{{ BITS }}'; let max = '{{ MAX }}'; let MAX = parseInt(max, 10);

    // return string with current value of each bit

    function getBits() {
        let bits = "";
        for(let i = 0; i < BITS; i++) {
            bits = bits + document.getElementById('digit' + i).value;
        }
        return bits;
    }

    // -----------------------------------------------------------------------------------------------

    function setConversions(binary) {
        document.getElementById('binary').innerHTML = binary;
        // DOM assignment to Decimal conversion
        document.getElementById('decimal').innerHTML = parseInt(binary, 2).toString(10);
    }
    // -----------------------------------------------------------------------------------------------

    function toggleBit(i) {
        //alert("Digit action: " + i );
        const dig = document.getElementById('digit' + i);
        const image = document.getElementById('bulb' + i);
        const butt = document.getElementById('butt' + i);
        // Change digit and visual
        if (image.src.match("{{ imgBulbOn }}")) {
            dig.value = 0;
            image.src = "{{ imgBulbOff }}";
            butt.innerHTML = "{{ msgTurnOn }}";
        } else {
            dig.value = 1;
            image.src = "{{ imgBulbOn }}";
            butt.innerHTML = "{{ msgTurnOff }}";
        }

        // Binary numbers for R
        const binary = getBits();
        setConversions(binary);
    }

</script>


<h1 class="text-center">Color Code</h1>
<div class="container">
    <div class="row justify-content-md-center">

        <div class="col-8">
            <table class="table">
                <tr id="table">
                    <th>Binary</th>
                    <th>Decimal</th>
                </tr>
                <tr>
                    <td id="binary">00000000</td>
                    <td id="decimal">0</td>
                </tr>
            </table>
        </div>

        <div class="col-12">
            <table class="table">
                {% for ROW in range(ROWS) %}
                <tr>
                    {% for j in range(perRow) %}
                    {% set i = (((ROW)*8)+j) %}
                    <td><img class="img-responsive py-3" id="bulb{{i}}" src="{{ imgBulbOff }}" alt="" width="40" height="Auto">
                        <button type="button" id="butt{{i}}" onclick="toggleBit('{{i}}')">{{ msgTurnOn }}</button>
                    </td>
                    {% endfor %}
                </tr>
                <tr>
                    {% for j in range(perRow) %}
                    {% set i = ((ROW*8)+j) %}
                    <td><input type='text' id='digit{{i}}' Value="0" size="1" readonly></td>
                    {% endfor %}
                </tr>
                {% endfor %}

                <tr>
                    {% for j in range(REMAINDER) %}
                    {% set i = (((ROWS)*8)+j) %}
                    <td><img class="img-responsive py-3" id="bulb{{i}}" src="{{ imgBulbOff }}" alt="" width="40" height="Auto">
                        <button type="button" id="butt{{i}}" onclick="toggleBit('{{i}}')">{{ msgTurnOn }}</button>
                    </td>
                    {% endfor %}
                </tr>
                <tr>
                    {% for j in range(REMAINDER) %}
                    {% set i = ((ROWS*8)+j) %}
                    <td><input type='text' id='digit{{i}}' Value="0" size="1" readonly></td>
                    {% endfor %}
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}