<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Brainwrites" %}

{% block body %}

<div class="center-block" style="margin: 2% 5% 5%";>
    <h1>Wireframe 1</h1>
    <img src="https://docs.google.com/drawings/d/e/2PACX-1vTmnnPm-sUOGKMyiSAgb5j9MVzo6UIia03PPj3FRnLs0kNw8qvsWJ6ZMOyNLd1JDSQ_HHNZjKEXroZf/pub?w=2064&amp;h=1206" width="688" height="402">
    <h1>Wireframe 2</h1>
    <img src="https://docs.google.com/drawings/d/e/2PACX-1vTtuJBXD3ID_9_cae6HTotPwGAF2wnx2D15FGQVS7kZirGuua4s_2ohg4YfDXfrUuYG_EQzzfFzkUry/pub?w=1517&amp;h=1015" width="688" height="416">
</div>
{% endblock %}