<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "AboutCalissa" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}

      <h1>Calissa Tyrrell</h1>

<p>Hi! My name is Calissa and I am currently a junior at Del Norte. My favorite class at Del Norte is probably AP Computer
    Science, probably because its the most interesting. To be honest though, I'm not very good at it.</p>

<p>I also have a lot of hobbies. I enjoy gardening, playing video games, as well as eating. Yes, eating is a hobby. I'd say there
    is a special art to good food. Yummy food is probably what I am most passionate about in regards to hobbies. </p>

{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
