{% extends "layouts/base.html" %}
{% set project = "Food" %}

{% block head %}

<style>
    body {
        background-image: url("https://github.com/SlimeyTurtles/Rat-Homework/blob/main/static/Market%20(1).jpg?raw=true");
        background-size: cover;
    }
    .cheese {
        left: 48.75vw;
        top: 72vh;
        position: absolute;
    }
    .apple {
        left: 34vw;
        top: 72vh;
        position: absolute;
    }

    .pancake {
        left: 64.75vw;
        top: 72vh;
        position: absolute;
    }
</style>

{% endblock %}
{% block body %}

<button class="apple" onclick="buything('apple', apple, -50)">Buy</button>
<button class="cheese" onclick="buything('cheeese', cheeese, -75)">Buy</button>
<button class="pancake" onclick="buything('pancake', pancake, -65)">Buy</button>

{% endblock %}