<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Food" %}

<!- This is a replacement block for Body in base.html -->

{% block head %}
<script>
    window.onresize = function(event) {
        $("#bg_1").css("width", $(window).width());
    }
</script>
<style>
    body {
        background-image: url("https://github.com/SlimeyTurtles/Rat-Homework/blob/main/static/Market%20(1).jpg?raw=true");
        background-size: cover;
        background-size: 100% 100%;
    }


    .button1 {
        left: 48.75vw;
        top: 72vh;
        position: absolute;
    }
    .button2 {
        left: 34vw;
        top: 72vh;
        position: absolute;
    }

    .button3 {
        left: 64.75vw;
        top: 72vh;
        position: absolute;
    }



</style>
{% endblock %}

{% block body %}

<button class="button1">Buy</button>

<div class="button2">
<button>Buy</button>
</div>

<div class="button3">
<button>Buy</button>
</div>

{% endblock %}