<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/base.html" %}

{% block head %}
<meta name="viewport" content="width=device-width initial-scale=1">
    <style>

        body{
            background: url("https://github.com/SlimeyTurtles/Rat-Homework/blob/main/static/Background%20(2).jpg?raw=true");
            background-size: cover;
        }

        /* header 1 */
        #todo-wrap h1 {
            font-size: 1.5em;
            margin: 0;
            color: #333;
        }

        /* add button and input */
        #todo-add { display: flex; }
        #todo-item { width: 85%; }
        #todo-save {
            width: 15%;
            background: #5866CF;
            border: 2px solid #5866CF;
        }

        /* delete buttons */
        #todo-del { margin: 10px 0;}
        #todo-del input {
            background: #CF585C;
            border: 2px solid #CF585C;
        }

        #todo-wrap{
            width: fit-content;
            border: cornflowerblue 2px solid;
            background-color: rgba(178, 246, 246, 0.55);
            position: relative;
            left: 1110px;
            top: 25px;
        }

        .todo-item.done {
            background: #DCFFD7;
            text-decoration: line-through;
        }
    </style>

{% endblock %}

{% block body %}
<script>
    var todo = {
        data: [], // creates a list/array called data to hold the localstorage data

        // Function below takes local storage data and adds it to the tododata array
        // Takes stuff from the session and puts it into tododata as text in a JSON
        // array will have the format Key,Value
        // Key,Value = Task [0] ,Status [1]
        // Status can either be 0 (not done), 1 (completed), or 2 (cancelled/x'ed out)

        load: function () {
            if (localStorage.list == undefined) {
                localStorage.list = "[]";
            }
            todo.data = JSON.parse(localStorage.list);
            todo.list();
        },

        // saves the current data into the LocalStorage
        save: function () {
            localStorage.list = JSON.stringify(todo.data);
            todo.list();
        },

        // Function below creates (draws) html from the JSON data
        list: function () {

            // 1st empty the old HTML list
            var container = document.getElementById("todo-list");
            container.innerHTML = "";

            // 2nd Start making the new HTML list
            if (todo.data.length > 0) {    // if json has data inside continue and create the html elements using that data
                var row = "", el = "";
                for (var key in todo.data) {    // loops for each key in the JSON and creates the rows and texts for each task
                    row = document.createElement("div");  // create div element
                    row.classList.add("clearfix");        // set div class to clearfix
                    row.dataset.id = key;

                    // Item text
                    el = document.createElement("div");
                    el.classList.add("item");
                    if (todo.data[key][1] == 1) {   // if status of task is 1 (done)
                        el.classList.add("done");   // set class of div to done
                    }
                    el.innerHTML = todo.data[key][0];  // set the inner HTML to the task name data at index [0] in json
                    row.appendChild(el);               // append that div created to the row

                    // check/complete button
                    el = document.createElement("input");      // creates an input element
                    el.setAttribute("type", "button");          // sets the attributes of the element to a button
                    el.value = "\u2714";                        // value is a unicode checkmark
                    el.classList.add("done");                   // assigns class called done
                    el.addEventListener("click", function () {  //event listener calls and runs function on click
                        todo.status(this, 1);                   // updates element to have the completed status
                    });
                    row.appendChild(el);

                    // Add row to list
                    container.appendChild(row);   //references the container var = div that holds the task and appends it to the row that will hold all of the tasks created
                }
            }
        },

        // (D) add todoitem to the data array
        add: function () {

            let item = document.getElementById("todo-item");
            todo.data.push([item.value, 0]);      // takes div item and pushes the task name/title as an array in the [0] index to hold it as the task
            item.value = "";     // clears the item value
            todo.save();     // saves and updates the array
        },

        // update the item status
        status: function (el, stat) {

            var parent = el.parentElement;    //identifies the parent element of the div item
            todo.data[parent.dataset.id][1] = stat;    // updates the data list with the status of that element
            todo.save();    // saves and updates the list
        },

        // deleting tasks
        del: function (type) {
            if (confirm("Delete tasks?")) {  // alerts a browser message saying "delete tasks?"
                // delete all button
                if (type == 0) {             // for all tasks
                    todo.data = [];           // clear all items from the data list
                    todo.save();               // save and update list
                }
                // delete just the completed tasks
                else {
                    todo.data = todo.data.filter(row => row[1]==0); // outputs the row array with completed tasks deleted
                    todo.save();                                  // save and update list
                }
            }}
    };

    // page JS

    // even listeners runs the follow functions when the page is loaded

    //
    window.addEventListener("load", function () {
        document.getElementById("todo-delall").addEventListener("click", function () {
            todo.del(0);
        });     // when clicking the delete all button, function will set type var to 0 and tun the function


        document.getElementById("todo-delcom").addEventListener("click", function () {
            todo.del(1);
        });     // when clicking the delete all button, function will set type var to 1 and tun the function


        document.getElementById("todo-add").addEventListener("submit", function (evt) {
            evt.preventDefault();
            todo.add();
        });     // when submitting using the add button, the function will run the add function

        todo.load();   // run the load function
    });

</script>


<div id="todo-wrap">
    <!-- header -->
    <h1>TO DO LIST</h1>

    <!-- add task button and input -->
    <form id="todo-add">
        <input type="text" id="todo-item" placeholder="New Item" required/>
        <input type="submit" id="todo-save" value="&#10010;"/>
    </form>

    <!-- delete buttons -->
    <div id="todo-del">
        <input type="button" value="Delete All" id="todo-delall"/>
        <input type="button" value="Delete Completed" id="todo-delcom"/>
    </div>

    <!-- task list items -->
    <div id="todo-list"></div>
</div>
{% endblock %}
