<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Minigames" %}

<!- This is a replacement block for Body in base.html -->

{% block body %}

<head>
    <meta charset="UTF"-8/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Ratrun</title>
    <link rel="stylesheet" href="stylesheet.css"/>
</head>
<body>
   <div class="game">
    <div id="rat"></div>
    <div id="rattrap"></div>
   </div>
    <script src="script.js"></script>
</body>

{% endblock %}