<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Shop" %}

<!- This is a replacement block for Body in base.html -->

{% block body %}

<!--displays current count -->
<h1><td id="counter-display">$0.00</td></h1>

<td><button type="button" id="add1" onclick="add(1)">-</button></td>
<td><button type="button" id="sub1" onclick="add(-1)">+</button></td>

<!--buttons for adding and subtracting currency -->

{% endblock %}


