{% extends "layouts/base.html" %}
{% set project = "Shop" %}

{% block head %}

<style>
    body{
        background-image: url("https://github.com/SlimeyTurtles/Rat-Homework/blob/main/static/Shop.jpg?raw=true");
        background-size: cover;
    }
    .sweater {
        left: 42.5vw;
        top: 45vh;
        position: absolute;
    }
    .cape {
        left: 60vw;
        top: 45vh;
        position: absolute;
    }
    .shoes {
        left: 15vw;
        bottom: 5vh;
        position: absolute;
    }
</style>

{% endblock %}
{% block body %}

<button class="sweater" onclick="buything('sweater', sweater, -100)">Buy</button>
<button class="cape" onclick="buything('cape', cape, -95)">Buy</button>
<button class="shoes" onclick="buything('shoes', shoes, -1000)">Buy</button>

{% endblock %}