
{% extends "layouts/base.html" %}
{% set project = "TPT 3" %}

{% block body %}

    <h1>TPT 3 Group Member Notes</h1>

    <h2>Akhil</h2>
    <iframe width="1000" height="472"
            src=https://docs.google.com/document/d/149IchxKl27nwPAO3CmCFX_1sJVyS9TQis0mjwwFPMlI/edit?usp=sharing>
    </iframe>


    <h2>Calissa</h2>
    <iframe width="1000" height="472"
            src=https://docs.google.com/document/d/1M_jU_NzcbDCb40K4yJio2Le8LXt5a7TuSz09csn4ihg/edit?usp=sharing>
    </iframe>


    <h2>Valen</h2>
    <iframe width="1000" height="472"
            src=https://docs.google.com/document/d/1M_jU_NzcbDCb40K4yJio2Le8LXt5a7TuSz09csn4ihg/edit?usp=sharing>
    </iframe>


    <h2>Avinh</h2>
    <iframe width="1000" height="472"
            src=https://docs.google.com/document/d/1M_jU_NzcbDCb40K4yJio2Le8LXt5a7TuSz09csn4ihg/edit?usp=sharing>
    </iframe>


{% endblock %}